* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Import Fonts */
@font-face {
    font-family: 'Bricolage Grotesque';
    src: url(/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf);
    font-variation-settings: "wght" 800;
    font-width: 100;
}
@font-face {
    font-family: 'M Plus Rounded';
    src: url(/fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Regular.ttf);
}
@font-face {
    font-family: 'M Plus Rounded Med';
    src: url(/fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Medium.ttf);
}

:root {
    --headings-main: hsl(50, 67%, 97%, 94%);
    --soft-text: hsl(50, 67%, 97%, 55%);
    --bg-main: hsl(224, 22%, 19%);
    --section: hsl(221, 27%, 25%, 100%);
    --section-shadow: hsl(0, 0%, 38%, 18%);
}

html {
    font-size: 20px;
    background-color: var(--bg-main);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2.5em;
}

ul a {
    text-decoration: none;
    color: inherit;
    font-family: 'M Plus Rounded', sans-serif;
}

nav {
    color: var(--headings-main);
    display: flex;
    justify-content: end;
    margin-right: 2.5em;
}

.hero-section {
    display: flex;
    justify-content: center;
    margin: 3em;
    padding: 2.5em;
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    margin: 2em;
}

header {
    padding: 6em 0 0 0;
}

h1 {
    font-family: 'Bricolage Grotesque', serif;
    font-size: 3.5rem;
    color: var(--headings-main);
    margin-top: 1em;
}

h2 {
    font-family: 'Bricolage Grotesque', serif;
    font-size: 2.2rem;
    color: var(--headings-main);
    margin-top: 2.2em;
}

h3 {
    font-family: 'M Plus Rounded Med', sans-serif;
    font-size: 1.2rem;
    color: var(--headings-main);
}

h4 {
    font-family: 'M Plus Rounded', sans-serif;
    font-size: 1.1rem;
    color: var(--soft-text);
    margin-top: 0.5em;
}

p {
    font-family: 'M Plus Rounded', sans-serif;
    font-size: 1rem;
    color: var(--soft-text);
    margin: 1.9em;
    max-width: 30em;
}

strong {
    font-family: 'M Plus Rounded Med', sans-serif;
}

.cards-section {
    margin: 0 2.5em;
}

.projects-box, .contact-box {
    background-color: var(--section);
    border-radius: 24px;
    box-shadow: var(--section-shadow);
}

.contact-title {
    
}

.link-icons {
    margin: 1.7em;
}