* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Import Fonts */
@font-face {
    font-family: 'Bricolage Grotesque';
    src: url(/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf);
    font-variation-settings: "wght" 800;
    font-width: 100;
}
@font-face {
    font-family: 'M Plus Rounded';
    src: url(/fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Regular.ttf);
}
@font-face {
    font-family: 'M Plus Rounded Med';
    src: url(/fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Medium.ttf);
}

:root {
    --grey: hsl(0, 0%, 36%);
    --cream: hsl(38, 64%, 96%);
}

html {
    font-size: 16px;
    background-color: var(--cream);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2.5em;
    margin: 40px;
}

ul a {
    text-decoration: none;
    color: inherit;
    font-family: 'M Plus Rounded', sans-serif;
}

nav {
    display: flex;
    justify-content: end;
}

.hero-section {
    display: flex;
    justify-content: center;
    margin: 50px;
    padding: 50px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-img {
    height: 300px;
}

main {
    display: flex;
    flex-direction: column;
    margin: 40px;
    gap: 3em
}

section {
    margin: ;
}

h1 {
    font-family: 'Bricolage Grotesque', serif;
    font-size: 4.5rem;
}

h2 {
    font-family: 'Bricolage Grotesque', serif;
    font-size: 2.6rem;
}

h3 {
    font-family: 'M Plus Rounded Med', sans-serif;
    font-size: 1.2rem;
}

p {
    font-family: 'M Plus Rounded', sans-serif;
    font-size: 1rem;
    color: var(--grey);
}

strong {
    font-family: 'M Plus Rounded Med', sans-serif;
}


.cards-section {
    margin: 50px;
}