* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Bricolage Grotesque';
    src: url(/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf);
    font-variation-settings: ;
    font-width: 100;
}

h1, h2 {
    font-family: 'Bricolage Grotesque';
}